export(find.mean)
export(find.mean.down)
export(find.mean.up)
export(find.sd)
export(findclosest.ahead)
export(findclosest.behind)
export(get.numalts)
export(get.pvals)
export(getAnnotation)
export(getColmeds)
export(getExons)
export(getFlags)
export(getLimmaInput)
export(getParams)
export(getParams.failsafe)
export(getRegions)
export(getSvs)
export(getTstats)
export(gsubfn)
export(last)
export(locfdrFit)
export(makeDb)
export(match.funfn)
export(mergeRegions)
export(ostrapply)
export(plotExon)
export(plotGene)
export(plotRegion)
export(read.csv.sql)
export(sqldf)
export(strapply)
export(supportedTables)
